@import '~antd/dist/antd.css';
html{
    background-color: #262626;
    padding:20px;
    height:auto;

}

.mainLayout{
    background-color: #ffffff;
    .headerLayout{
        background-color: #ffffff;
        padding: 100px;   
        
    }
    
}
