
@mixin carousel($url){
    height: 500px;
    width: 800px;
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}
.carousel0{
    @include carousel('../images/carousel0.png');
}
.carousel1{
    @include carousel('https://scontent.fsgn2-6.fna.fbcdn.net/v/t31.0-8/18527346_674898436028053_1599660893713553437_o.jpg?_nc_cat=110&ccb=2&_nc_sid=19026a&_nc_ohc=BpzNFlDra1oAX9zg21B&_nc_ht=scontent.fsgn2-6.fna&oh=2efd455510482fea5e6546110f349496&oe=601534A0');
}   
.carousel2{
    @include carousel('https://scontent.fsgn2-3.fna.fbcdn.net/v/t31.0-8/17359274_646416295542934_583219082078885671_o.jpg?_nc_cat=106&ccb=2&_nc_sid=19026a&_nc_ohc=T7OV3aBMN_0AX8tcZ9Q&_nc_ht=scontent.fsgn2-3.fna&oh=bb781dac9ea29a8863a61aa25e95cde6&oe=6013BDD3');
}   
.ulWidget{
    list-style: none;
    >li{
        border-top: 5px solid #000000;
        margin: 35px;
        .textTitle{
            margin-top: 15px;
        }
        >ul li {
            font-weight: 400;
            font-size: 16px;
            list-style-type: disc;
        }
    }
}